main {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    position: relative;
    /* border: 1px solid; */
}
.page-title {
    text-align: center;
    color: #6a4b7a;
}
h1{
    margin: 0;
    padding: 0;
}
.float-left {
    text-align: left;
}
.mb-12{
    margin-bottom: 12px;
}
.p-0{
    padding: 0;
}
.pl-0-important{
    padding-left: 0 !important;
}
.pt-0-important{
    padding-top: 0 !important;
}
.pb-0-important{
    padding-bottom: 0 !important;
}
.m-12{
    margin: 12px;
}
.mb-12{
    margin-bottom: 12px;
}
.mt-12{
    margin-top: 12px;
}
.p-12{
    padding: 12px;
}
.p-16{
    padding: 16px;
}
.text-center{
    text-align: center;
}
/** Color **/
.color-dark-pink{
    color: var(--dark-pink);
}
.color-light-pink{
    color: var(--light-pink);
}
.color-dark-mauve{
    color: var(--dark-mauve);
}
.color-light-mauve{
    color: var(--light-mauve);
}
/** Color **/
/** Background **/
.background-dark-pink{
    background-color: var(--dark-pink);
}
.background-light-pink{
    background-color: var(--light-pink);
}
.background-dark-mauve{
    background-color: var(--dark-mauve);
}
.background-light-mauve{
    background-color: var(--light-mauve);
}
/** Background **/
.btn{
    border: none;
    color: white;
    font-size: 1.2em;
    width: 100%;
    border-radius: 12px;
    transition: background-color 0.3s;
}
.btn.background-light-mauve:hover{
    background-color: var(--dark-mauve);
}
.margin-center{
    margin: 0 auto;
}
.max-w-300{
    max-width: 300px;
}