.app-description{
    text-align: center;
    color: #6a4b7a;
}
.app-description p {
    padding: 0 16px;
    font-weight: bold;
    font-size: 1.1em;
}
.button-container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
a.btn{
    text-decoration: none;
}
.button-container .btn.btn-login {
    background-color: #9263aa;
    text-align: center;
    transition: background-color 0.3s;
}
.button-container .btn.btn-login:hover {
    background-color: #6a4b7a;
}