#Layer_1  .st0{fill:#C176B1;}
#Layer_1  .st1{fill:#AA57A2;}
#Layer_1  .st2{fill:#A474B2;}
#Layer_1  .st3{fill:#9263AA;}
#Layer_1  .st4{fill:#D175AF;}
#Layer_1  .st5{fill:#C361A5;}
#Layer_1  .st6{fill:#7C53A2;}
#Layer_1  .st7{fill:#974C97;}
#Layer_1  .st8{fill:#B4519E;}
#Layer_1  .st9{fill:#7C52A1;}
#Layer_1  .st10{fill:#9C74B3;}
#Layer_1  .st11{fill:#954A95;}
#Layer_1  .st12{fill:#B658A2;}
#Layer_1  .st13{fill:#A6A636;}
#Layer_1  .st14{fill:#923C2C;}
#Layer_1  .st15{fill:#8F8B34;}
#Layer_1  .st16{fill:#BCB832;}
#Layer_1  .st17{fill:#76281D;}
#Layer_1  .st18{fill:#A94933;}
#Layer_1  .st19{fill:#D04D36;}
#Layer_1  .st20{fill:#EDDEBF;}
#Layer_1  .st21{fill:#7E2F27;}
#Layer_1  .st22{fill:#A43823;}
#Layer_1  .st23{fill:#C23E27;}
#Layer_1  .st24{fill:#A71D3B;}
#Layer_1  .st25{fill:#BB2747;}
#Layer_1  .st26{fill:#D02E4B;}
#Layer_1  .st27{fill:#FBAE32;}
#Layer_1  .st28{fill:#F58F1F;}
#Layer_1  .st29{fill:#F9A026;}
#Layer_1  .st30{fill:#F8BF31;}
#Layer_1  .st31{fill:#FFD06D;}
#Layer_1  .st32{fill:#E4D0AC;}
#Layer_1  .st33{fill:#D6BC97;}
#Layer_1  .st34{fill:#F8A27E;}
#Layer_1  .st35{fill:#F5875E;}
#Layer_1  .st36{fill:#F37148;}
#Layer_1  .st37{fill:#EB4F44;}
#Layer_1  .st38{display:none;}
#Layer_1  .st39{display:inline;fill:#EDDEBF;}
/*in cvg tag style="enable-background:new 0 0 340 330;" */
.person{
    width: 90%;
    margin: 0 auto;
}
#Layer_1{
    display: block;
    width: 100%;
}
@keyframes upDownSmooth {
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(-10px);
    }
}

#Layer_1 #Person{
    animation: upDownSmooth 3s linear infinite alternate ;
}